.mybutton
{
    -fx-text-fill: #FFFFFF;
    -fx-font-family:  Arial;
    -fx-font-size: 12px;
    -fx-font-weight: 400;
    -fx-border-radius : 5;
    -fx-effect: dropshadow(one-pass-box, rgba(36, 73, 56, 0.493), 2, 1, 0.4, 0);
}

.connect-button
{
    -fx-background-color: #28a745;
    -fx-border-color: #28a745;
}

.connect-button:hover { 
    -fx-background-color: #40a859;

}

.disconnect-button
{
    -fx-background-color: #dc3545;
    -fx-border-color:  #dc3545;
}

.disconnect-button:hover { 
    -fx-background-color: #da515f;

}

.button:pressed {
    -fx-translate-y: 1;
}
